{% extends "app/block.html" %}
{% block content %}
      <!-- Page Header Start -->
      <div class="page-header" style="background: url(static/assets/img/banner1.jpg);">
        <div class="container">
          <div class="row">         
            <div class="col-md-12">
              <div class="breadcrumb-wrapper">
                <h2 class="product-title">Pricing Plan</h2>
                <ol class="breadcrumb">
                  <li><a href="#"><i class="ti-home"></i> Home</a></li>
                  <li class="current">Pricing Plan</li>
                </ol>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Page Header End -->    

      <!-- Pricing Table Section -->
      <section id="pricing-table" class="section">
        <div class="container">
          <div class="row">
            <div class="col-sm-4">
              <div class="table">
                <div class="title">
                  <h3>Pricing Plan 1</h3>
                </div>
                 <div class="pricing-header">
                    <p class="price-value"> <sup>$</sup>0</p>
                    <p class="price-quality">/forever</p>
                 </div>
                <ul class="description">
                  <li>Post 1 Job</li>
                  <li>No Featured Job</li>
                  <li>Edit Your Job Listing</li>
                  <li>Manage Application</li>
                  <li>30-day Expired</li>
                </ul>
                <button class="btn btn-common" type="submit">Get Started</button>
              </div> 
            </div>
            <div class="col-sm-4">
              <div class="table" id="active-tb">
                <div class="title">
                  <h3>Pricing Plan 2</h3>
                </div>
                 <div class="pricing-header">
                    <p class="price-value"> <sup>$</sup>99</p>
                    <p class="price-quality">/90 DAYS</p>
                 </div>
                <ul class="description">
                  <li>Post 1 Job</li>
                  <li>No Featured Job</li>
                  <li>Edit Your Job Listing</li>
                  <li>Manage Application</li>
                  <li>30-day Expired</li>
                </ul>
                <button class="btn btn-common" type="submit">Get Started</button>
             </div> 
            </div>
            <div class="col-sm-4">
              <div class="table">
                <div class="title">
                  <h3>Pricing Plan 3</h3>
                </div>
                 <div class="pricing-header">
                    <p class="price-value"> <sup>$</sup>199</p>
                    <p class="price-quality">/180 DAYS</p>                    
                 </div>
                <ul class="description">
                  <li>Post 1 Job</li>
                  <li>No Featured Job</li>
                  <li>Edit Your Job Listing</li>
                  <li>Manage Application</li>
                  <li>30-day Expired</li>
                </ul>
                <button class="btn btn-common" type="submit">Get Started</button>
              </div> 
            </div>
          </div>
        </div>
      </section>
      <!-- Pricing Table Section End -->
{% endblock %}