{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">    
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <meta name="author" content="Jobboard">
    <title>JobBoard</title>    

    <!-- Favicon -->
    <link rel="shortcut icon" href="{% static '/assets/img/favicon.png' %}">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static '/assets/css/bootstrap.min.css' %}" type="text/css">    
    <link rel="stylesheet" href="{% static '/assets/css/jasny-bootstrap.min.css' %}" type="text/css">  
    <link rel="stylesheet" href="{% static '/assets/css/bootstrap-select.min.css' %}" type="text/css">  
    <link rel="stylesheet" href="{% static '/assets/css/signup.scss' %}" type="text/scss">
    <link rel="stylesheet" href="{% static '/assets/css/sign.css' %}" type="text/css">
    <!-- Material CSS -->
    <link rel="stylesheet" href="{% static '/assets/css/material-kit.css' %}" type="text/css">
    <!-- Font Awesome CSS -->
    <link rel="stylesheet" href="{% static '/assets/fonts/font-awesome.min.css' %}" type="text/css"> 
    <link rel="stylesheet" href="{% static '/assets/fonts/themify-icons.css' %}"> 

    <!-- Animate CSS -->
    <link rel="stylesheet" href="{% static '/assets/extras/animate.css' %}" type="text/css">
    <!-- Owl Carousel -->
    <link rel="stylesheet" href="{% static '/assets/extras/owl.carousel.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static '/assets/extras/owl.theme.css' %}" type="text/css">
    <!-- Rev Slider CSS -->
    <link rel="stylesheet" href="{% static '/assets/extras/settings.css' %}" type="text/css">
    <!-- Main Styles -->
    <link rel="stylesheet" href="{% static '/assets/css/main.css' %}" type="text/css">
    <!-- Slicknav js -->
    <link rel="stylesheet" href="{% static '/assets/css/slicknav.css' %}" type="text/css">
    <!-- Responsive CSS Styles -->
    <link rel="stylesheet" href="{% static '/assets/css/responsive.css' %}" type="text/css">

    <!-- Color CSS Styles  -->
    <link rel="stylesheet" type="text/css" href="{% static '/assets/css/colors/red.css' %}" media="screen" />
    
  </head>
  <body>
    <div class="form">
      <ul class="tab-group">
        <li class="tab active"><a href="#signup">Sign Up</a></li>
        <li class="tab "><a href="#login">Log In</a></li>
      </ul>
      <div class="tab-content">
        <div id="signup">   
          <h1>Sign Up for Free</h1>
          <center>
            {% if msg %}
                <h4 style="color: red;">{{msg}}</h4>
            {% endif %}
          </center>
          <form class="login-form" action="{% url 'register' %}" method="POST">
          {% csrf_token %}
          <div class="top-row">
            <center>
                  <div class="field-wrap">
                      <label>
                        Select Role<span class="req">*</span>
                      </label>
                      <select name="role" id="" class="text-danger">
                          <option>======Select Role=====</option>
                          <option>Candidate</option>
                          <option>Company</option>
                      </select>
                  </div>
              </center>
            <div class="field-wrap">
              <label>
                First Name<span class="req">*</span>
              </label>
              <input type="text" name="firstname" required autocomplete="off" />
            </div>
        
            <div class="field-wrap">
              <label>
                Last Name<span class="req">*</span>
              </label>
              <input type="text" name="lastname" required autocomplete="off"/>
            </div>
          </div>
          <div class="field-wrap">
            <label>
              Email Address<span class="req">*</span>
            </label>
            <input type="email" name="email" required autocomplete="off"/>
          </div>
          <div class="field-wrap">
            <label>
              Set A Password<span class="req">*</span>
            </label>
            <input type="password" name="password" required autocomplete="off"/>
          </div>
          <div class="field-wrap">
            <label>
              Confirm Password<span class="req">*</span>
            </label>
            <input type="password" name="cpassword" required autocomplete="off"/>
          </div>
          <button type="submit" class="button button-block"/>Register</button>
          </form>
        </div>
      </div>
    </div>

    
        <script type="text/javascript" src="{% static '/assets/js/jquery-min.js' %}"></script>  
        <script type="text/javascript" src="{% static '/assets/js/sign.js' %}"></script>    
        <script type="text/javascript" src="{% static '/assets/js/bootstrap.min.js' %}"></script>    
        <script type="text/javascript" src="{% static '/assets/js/material.min.js' %}"></script>
        <script type="text/javascript" src="{% static '/assets/js/material-kit.js' %}"></script>
        <script type="text/javascript" src="{% static '/assets/js/jquery.parallax.js' %}"></script>
        <script type="text/javascript" src="{% static '/assets/js/owl.carousel.min.js' %}"></script>
        <script type="text/javascript" src="{% static '/assets/js/jquery.slicknav.js' %}"></script>
        <script type="text/javascript" src="{% static '/assets/js/main.js' %}"></script>
        <script type="text/javascript" src="{% static '/assets/js/jquery.counterup.min.js' %}"></script>
        <script type="text/javascript" src="{% static '/assets/js/waypoints.min.js' %}"></script>
        <script type="text/javascript" src="{% static '/assets/js/jasny-bootstrap.min.js' %}"></script>
        <script type="text/javascript" src="{% static '/assets/js/bootstrap-select.min.js' %}"></script>
        <script type="text/javascript" src="{% static '/assets/js/form-validator.min.js' %}"></script>
        <script type="text/javascript" src="{% static '/assets/js/contact-form-script.js' %}"></script>    
        <script type="text/javascript" src="{% static '/assets/js/jquery.themepunch.revolution.min.js' %}"></script>
        <script type="text/javascript" src="{% static '/assets/js/jquery.themepunch.tools.min.js' %}"></script>
  </body>
</html>


